.apresentacao {
    padding: 5% 10%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.apresentacao__imagem {  
    max-width: 200px;
}

.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 0.9rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__item {
    margin-left: 15px;
    list-style: disc;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
    width: 70%;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    border: 2px solid var(--cor-terciaria);
    transition: 0.3s;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

@media screen and (min-width: 1200px) {
    .apresentacao {
        padding: 6% 15%;
        display: flex;
        flex-direction: row;
        gap: 82px;
    }

    .apresentacao__conteudo {
        width: 50%;
        gap: 40px;
    }

    .apresentacao__conteudo__titulo {
        margin-top: 50px;
    }

    .apresentacao__links__navegacao {
        width: 50%;
        font-size: 1.5rem;
    }

    .apresentacao__imagem {
        width: 50%;
        max-width: 490px;
    }
}
